/* estilo geral da página*/
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 242, 245);
    color: #252525;
}
.container{
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
    padding: 10px;
   background: #fff;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
h1{
    text-align: center;
    margin-bottom: 10px;
}

.form{
    display: flex;
    flex-direction: column;
}
.form-group{
    margin-bottom: 10px;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="tel"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 9px;
    box-sizing: border-box;/* Garante que padding não aumente a largura */
}

.form-group input:hover{
    background-color: #d2d4d2;
}
.radio-group{
    display: flex;
    gap: 15px;
    margin-top: 5px;
}
.radio-group label{
    font-weight: 600;
}
.radio-group label{
    font-weight: normal;
    display: flex;
    align-items: center;
    gap: 5px;
}

.submit-btn{
    background-color: green;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.submit-btn:hover {
    background-color: #45a049;
}
/* Estilo para mensagens de erro */
.error-message {
    color: #d52f2a;
    font-size: 0.85em;
    margin-top: 5px;
    display: block;
}

/* Estilo para campos inválidos */
input:invalid, textarea:invalid, select:invalid {
   color: #d52f2a;
}